@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 0;
  --background-start-rgb: 0, 255, 0;
  --background-end-rgb: 0, 255, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 34, 34, 36;
    --background-start-rgb: 34, 34, 36;
    --background-end-rgb: 34, 34, 36;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb( 34, 34, 36);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.carousel{
  max-width: max-content;
}
.carousel__inner{
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.carousel{
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.carousel .carousel__inner{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 35s linear infinite;
}

@keyframes scroll{
  to{
    transform: translate(-50%);
  }
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ECF1F4;
  background-image: radial-gradient(#D9D9D9 2px, transparent 1px);
  background-size: 40px 40px;
  animation: moveDiagonal 5s linear infinite;
}
@keyframes moveDiagonal {
  0% {
    background-position: 0 0;
 }
  100% {
    background-position: 40px 40px;
 }
}

.dots_wrapper{
  width: 50px;
  height: 50px;
  background-image: radial-gradient(#000000 2px, transparent 1px);
  background-size: 40px 40px;
}

.wrapperTwo{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222224; /*background: linear-gradient(90deg, #74AA9C, #83BFEB);*/
}
.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #fff;
}
.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animateSquare 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animateSquare 10s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animateSquare 7s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animateSquare 9s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animateSquare 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animateSquare 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animateSquare 15s linear infinite;
}
.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animateSquare 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animateSquare 9s linear infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animateSquare 5s linear infinite;
}
@keyframes animateSquare {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
 }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
 }
}

@layer components {
  .txt_regular_s {
    @apply font-inter text-base mb-4 text-primarygray;
  }

  .txt_regular_m {
    @apply font-inter text-xl mb-4 text-primarygray;
  }

  .title {
    @apply font-koh_santepheap text-4xl mb-4 text-primarygray font-bold;
  }

  .large_title {
    @apply font-koh_santepheap text-6xl mb-4 text-primarygray font-bold;
  }

  .sub_title {
    @apply font-koh_santepheap text-2xl mb-4 text-primarygray font-bold;
  }
  
}

/*font-inter text-3xl justify-left mb-4 */


/* Firefox Scrollbar */
.scroller {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 #C2D2E4;
}

/* Chrome scrollbar */
.scroller::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scroller::-webkit-scrollbar-track-piece {
  background-color: #C2D2E4;
}

.scroller::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
}