@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
    )
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-gradient {
  border: 2px solid;
  border-image: linear-gradient(to right, #74AA9C, #83BFEB) 1;

}


@layer components {
  .txt_regular_s{
    @apply font-inter text-base mb-4 text-primarygray;
  }
  .txt_regular_m{
    @apply font-inter text-xl mb-4 text-primarygray;
  }
  .title{
    @apply font-koh_santepheap text-4xl mb-4 text-primarygray font-bold;
  }
  .large_title{
    @apply font-koh_santepheap text-6xl mb-4 text-primarygray font-bold;
  }
  .sub_title{
    @apply font-koh_santepheap text-2xl mb-4 text-primarygray font-bold;
  }
}
/*font-inter text-3xl justify-left mb-4 */